* {
  box-sizing: border-box;
}
body {
  font-size: 0.8rem;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
header {
  background-color: #e2f2fa;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 1px 35px;
  min-width: 100vw;
  min-height: 50px;
}
header p {
  margin: 0;
  padding: 5px;
}
marquee {
  background-color: #ebebeb;
  border-top: 1px solid #c9c9cd;
  padding: 10px;
  position: fixed;
  top: 9%;
}
a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
a:hover {
  color: blue;
}
.header-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header-options div {
  display: flex;
  gap: 10px;
}
/* .header-options button{
    background-color: #1937B2;
    color: white;
    border: none;
    float: right;
} */
.a-with-icon {
  display: flex;
  gap: 2px;
}
.a-with-icon svg {
  vertical-align: middle;
}
.a-with-icon p {
  vertical-align: middle;
  margin: 0;
}
.option-bold {
  font-weight: bold;
}
.option-light {
  color: #666;
  margin-top: 4px;
}
#eng-border {
  border-right: 2px solid red;
  height: 1.5rem;
}
#option-red {
  color: red;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 5px;
}
.header-options-first img {
  margin-top: 0.4rem;
}
#track {
  padding: 0;
}

/* main  */

.record-img-section img {
  width: 100%;
  margin-top: 5.2rem;
}
.booking-section {
  background-color: #173c62;
  align-content: center;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  height: 114px;
  gap: 0;
}
#adv-booking {
  background-color: white;
  color: red;
  padding: 10px;
  border: none;
  width: 9.8rem;
  height: 2.5rem;
  font-size: medium;
}
.booking-section-btn {
  background-color: #0099cc;
  color: white;
  padding: 10px;
  border: none;
  width: 9.8rem;
  height: 2.5rem;
  font-size: medium;
}
.booking-section-btn:hover {
  background-color: #006699;
}
@keyframes blink-effect {
  50% {
    background: linear-gradient(to right, red, orange);
  }
  to {
    background: #173c62;
  }
}
.blink {
  animation: blink-effect 1s steps(2, start) infinite;
  padding: 10px;
  border: none;
  color: white;
  width: 9.8rem;
  height: 2.5rem;
  font-size: medium;
}
.blink:hover {
  animation-play-state: paused;
}
.booking-options {
  position: absolute;
  top: 0%;
  left: 19%;
  border-bottom: 1px solid #dddddd;
  width: 80%;
  text-align: start;
}
.search-bus-section {
  position: relative;
  top: 17%;
  right: 5%;
}
.search-bus-section > input {
  width: 18rem;
  height: 2rem;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
.search-bus-section > #date-input {
  width: 8rem;
  height: 2rem;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
.search-bus-section > select {
  width: 4rem;
  height: 2rem;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
.search-bus-section > input:focus,
.search-bus-section > #date-input:focus,
.search-bus-section > select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.search-bus-section label {
  color: white;
  margin-right: 10px;
}
.search-bus-section button {
  background-color: #f00;
  height: 2.5rem;
  color: white;
  border-color: #357ebd;
  border-radius: 5px;
}

/* section - 1  */
main > section {
  background-color: white;
  min-height: 50vh;
  position: absolute;
  width: 100%;
  top: 53%;
}
.growing-num > h1,
.top-destination > h1 {
  color: #123d6f;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-left: 19%;
  margin-bottom: 0.5rem;
}
.growing-num svg {
  width: 3.2rem;
  height: 3.2rem;
}
.growing-num > div {
  display: flex;
  padding: 5px;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
}
.purple-gradient {
  padding: 20px;
  background: linear-gradient(
    to right,
    #1b0778,
    #2e1c92,
    #402eae,
    #5142ca,
    #6155e7
  );
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 17.8rem;
}
.pink-gradient {
  padding: 20px;
  background: linear-gradient(
    to right,
    #7e1253,
    #90145c,
    #a21764,
    #b4196c,
    #c71b74
  );
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 17.8rem;
}
.orange-gradient {
  padding: 20px;
  background: linear-gradient(
    to right,
    #b35d00,
    #c56400,
    #d76b00,
    #ea7200,
    #fd7900
  );
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 17.8rem;
}
.green-gradient {
  padding: 20px;
  background: linear-gradient(
    to right,
    #0f4c02,
    #165f05,
    #1d730a,
    #238811,
    #2a9d17
  );
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 17.8rem;
}
.purple-gradient div,
.pink-gradient div,
.orange-gradient div,
.green-gradient div {
  padding: 10px 20px 20px 20px;
}
.purple-gradient a,
.pink-gradient a,
.orange-gradient a,
.green-gradient a {
  color: white;
  font-size: medium;
  padding: 5px;
}
.purple-gradient a:hover,
.pink-gradient a:hover,
.orange-gradient a:hover,
.green-gradient a:hover {
  text-decoration: underline;
}
.purple-gradient h4,
.pink-gradient h4,
.orange-gradient h4,
.green-gradient h4 {
  font-size: xx-large;
  font-weight: normal;
  padding: 10px;
  margin: 0;
}
.purple-gradient p,
.pink-gradient p,
.orange-gradient p,
.green-gradient p {
  margin: 0;
}

/* top destinatios  */
.carousel {
  width: 1140px;
  overflow: hidden;
  margin: auto;
  margin-top: 15px;
}
.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: scroll 3s linear infinite;
}
.carousel-inner:hover {
  animation-play-state: paused;
}
.carousel-item {
  width: fit-content;
  position: relative;
}
.carousel-item img {
  -webkit-filter: brightness(50%);
  width: 284px;
}
.carousel-item div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 5px;
}
.carousel-item div > h1 {
  font-size: 3rem;
  color: #ff9900;
  font-family: Arial, Helvetica, sans-serif;
}
.carousel-item div > h2 {
  font-size: 1.5rem;
  color: white;
}
.carousel-item div > p {
  color: white;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px));
  }
}
